---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Canvas from "../components/Canvas.astro";
---

<Layout title="DoggyDomMap [Alfa]">
  <Navbar />
  <main class="flex flex-col gap-20 px-10">
    <Hero />
    <Features />
    <Canvas />
  </main>
</Layout>

<style></style>
