---
import InputText from "./elements/InputText.astro";
import img1 from "../images/example1.jpg";
import img2 from "../images/example2.jpg";
import { Image } from "astro:assets";
---

<section class="flex w-full flex-col items-center justify-center gap-8">
  <h1 class="text-3xl font-bold">Comienza a dibujar</h1>

  <div class="flex flex-col items-center justify-center gap-[90px] md:flex-col">
    <div class="grid w-full gap-8">
      <div class="flex w-full flex-col gap-3">
        <h2 class="text-xl font-bold text-red-600">
          PASO 1: Completa los campos
        </h2>
        <InputText
          label="Título:"
          placeholder="Ingresar el nuevo texto"
          id="textoInput"
        />
        <InputText
          label="Dirección:"
          placeholder="Ingresar el nuevo texto"
          id="textoInput1"
        />
        <InputText
          label="Distrito, Ciudad:"
          placeholder="Ingresar el nuevo texto"
          id="textoInput2"
        />

        <InputText
          label="Mensaje:"
          placeholder="Ingresar el nuevo texto"
          id="textoInput3"
        />

        <button
          class="mt-3 border-2 border-black bg-slate-300 px-4 py-2 font-bold shadow-[4px_4px_0px_rgba(0,0,0,1)] focus:bg-rose-300 focus:outline-none"
          id="aplicarCambiosBoton">Aplicar Cambios</button
        >
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-bold text-red-600">PASO 2: Sube una imagen</h2>

        <input
          class="border-2 border-black bg-white p-2.5 px-4 py-2 shadow-[4px_4px_0px_rgba(0,0,0,1)] file:rounded file:border-0 file:bg-slate-300 file:font-bold focus:bg-rose-300 focus:outline-none"
          type="file"
          id="subirArchivo"
          accept="image/*"
        />
        <h2 class="mt-2 text-xl font-bold text-red-600">
          PASO 3: Descarga el resultado !
        </h2>
        <button
          class="mt-3 border-2 border-black bg-slate-300 px-4 py-2 font-bold shadow-[4px_4px_0px_rgba(0,0,0,1)] focus:bg-rose-300 focus:outline-none"
          id="descargarBoton">Descargar Imagen</button
        >
      </div>
    </div>

    <canvas
      class="flex h-[600px] w-[450px] flex-col items-center justify-center bg-white"
      id="miCanvas"
      width="450"
      height='600"'></canvas>
  </div>

  <section class="flex flex-col items-center gap-8">
    <h1 class="text-3xl font-bold">Ejemplos</h1>
    <div class="flex flex-col gap-8 md:flex-row">
      <Image
        class="h-[600px] w-[450px]"
        src={img1}
        alt="Referencia del Museo Larco"
      />

      <Image
        class="h-[600px] w-[450px]"
        src={img2}
        alt="Referencia de Plaza San Miguel"
      />
    </div>
  </section>
</section>

<script is:inline>
  function DibujoInicial(ctx, imagen) {
    let tituloEnCanvas = textoInput.value || "Título de la foto";
    let direccionEnCanvas = textoInput1.value || "Dirección ";
    let distritoEnCanvas = textoInput2.value || "Distrito, Ciudad ";
    let ciudadEnCanvas = textoInput3.value || "Mensaje ";

    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, 450, 600);
    ctx.strokeStyle = "black";
    ctx.lineWidth = 5;
    ctx.strokeRect(0, 0, 450, 600);

    const noImagen = () => {
      ctx.fillStyle = "#CBD5E1";
      ctx.fillRect(25, 25, 400, 400);
    };
    imagen ? ctx.drawImage(imagen, 25, 25, 400, 400) : noImagen();

    ctx.strokeStyle = "black";
    ctx.lineWidth = 2;
    ctx.strokeRect(25, 25, 400, 400);

    ctx.font = "bold 25px Onest Variable";
    ctx.fillStyle = "black";
    ctx.fillText(tituloEnCanvas, 10, 465);

    ctx.font = "bold 18px Onest Variable";

    ctx.fillText(direccionEnCanvas, 10, 505);
    ctx.fillText(distritoEnCanvas, 10, 535);
    ctx.fillText(ciudadEnCanvas, 10, 565);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const canvas = document.getElementById("miCanvas");
    const ctx = canvas.getContext("2d");
    const subirArchivoInput = document.getElementById("subirArchivo");
    const aplicarCambiosBoton = document.getElementById("aplicarCambiosBoton");
    const descargarBoton = document.getElementById("descargarBoton");

    DibujoInicial(ctx);

    // Manejar el cambio en la selección de archivo
    subirArchivoInput.addEventListener("change", (event) => {
      const archivo = event.target.files[0];
      if (archivo) {
        const lector = new FileReader();
        lector.onload = function (e) {
          const imagen = new Image();
          imagen.src = e.target.result;
          imagen.onload = function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            DibujoInicial(ctx, imagen);
          };
        };
        const nombreImagen = `imagen_${Date.now()}`;
        subirArchivoInput.setAttribute("name", nombreImagen);

        lector.readAsDataURL(archivo);
      }
    });

    aplicarCambiosBoton.addEventListener("click", () => {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      DibujoInicial(ctx);
    });

    descargarBoton.addEventListener("click", () => {
      const dataURL = canvas.toDataURL("image/jpg");
      const enlaceDescarga = document.createElement("a");
      enlaceDescarga.href = dataURL;
      enlaceDescarga.download = "mi_mapa.jpg";
      enlaceDescarga.click();
    });
  });
</script>
