<footer class="mt-10 flex justify-around bg-zinc-900 py-8 text-lg text-white">
  <a href="#" id="toTop" class="underline underline-offset-4">Volver arriba</a>
  <div>
    Creado por : <a class="underline underline-offset-4" href="">mcuyaca</a>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const element = document.getElementById("toTop");
    element?.addEventListener("click", (event) => {
      event.preventDefault();
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  });
</script>
