---

---

<head class="mx-[100px] flex">
  <nav
    class="items-centers sticky top-0 z-10 flex justify-between bg-[#f9f0e0] p-6 shadow-sm shadow-black"
  >
    <div class="text-2xl font-extrabold text-orange-500">
      Doggy<span class="text-red-600">Dom</span>Map
    </div>
    <ul class="flex items-center justify-center gap-8 text-lg">
      <li>
        <a
          class="text-2xl font-semibold hover:underline hover:underline-offset-8"
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class="text-2xl font-semibold hover:underline hover:underline-offset-8"
          href="/draw">Draw</a
        >
      </li>
    </ul>

    <div class="flex text-lg"></div>
  </nav>
</head>
