---

---

<head class="mx-[100px] flex">
  <nav
    class="items-centers sticky top-0 z-10 flex justify-between bg-[#f9f0e0] p-6 text-2xl shadow-sm shadow-black"
  >
    <a class="font-extrabold text-orange-500" href="/">
      Doggy<span class="text-red-600">Dom</span>Drawer
    </a>
    <ul class="flex items-center justify-center gap-8 text-lg">
      <li>
        <a
          class="font-semibold hover:underline hover:underline-offset-8"
          href="/draw">Maps</a
        >
      </li>
      <li>
        <a
          class="font-semibold hover:underline hover:underline-offset-8"
          href="/email">Signature</a
        >
      </li>
    </ul>

    <div class="flex text-lg"></div>
  </nav>
</head>
